div.tooltip {
    position: absolute;
    text-align: center;
    width: 180px;
    height: 20px;
    padding: 2px;
    font: 12px sans-serif;
    background: rgb(243, 239, 22);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
  }
